.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calcbody {
    background-color: rgb(223, 223, 223);
    width: 100vw;
    height: 100vh;
    max-height: 500px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
}

.display {
    background-color: black;
    font-family: monospace;
    color:rgb(255, 255, 255);
    margin: 10% 5%;
    padding: 10px 5px 5px 5px;
    font-size: 14px;
    border-radius: 5px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttons {
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90%;
}

.numbers {
    width: 70%;
    height:fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 5px;
}

.button {
    height: 50px;
    width: 50px;
    border: green 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.functions {
    width: 20%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 5px;
}

.function {
    border: 1px black solid;
    width: 50px;
    height: 50px;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero {
    border: blue 1px solid;
    height: 50px;;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.clear {
    border: blue 1px solid;
    height: 50px;;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.enter {
    border: blue 1px solid;
    height: 50px;;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

